<div class="iceeywyg-container" >
  <div class="iceewyg-formatter" >
    <div class="iceewyg-format-group">
      <button (click)="execCommand('Bold')" [class.active]="queryCommandState('Bold')" >
        <i class="material-icons">format_bold</i>
      </button>
      <button (click)="execCommand('Italic')" [class.active]="queryCommandState('Italic')" >
        <i class="material-icons">format_italic</i>
      </button>
      <button (click)="execCommand('Underline')" [class.active]="queryCommandState('Underline')" >
        <i class="material-icons">format_underlined</i>
      </button>
    </div>

    <div class="iceewyg-format-group">
      <button (click)="execCommand('justifyLeft')" >
        <i class="material-icons">format_align_left</i>
      </button>
      <button (click)="execCommand('justifyCenter')" > 
        <i class="material-icons">format_align_center</i>
      </button>
      <button (click)="execCommand('justifyRight')" >
        <i class="material-icons">format_align_right</i>
      </button>
      <button (click)="execCommand('justifyFull')" >
        <i class="material-icons">format_align_justify</i>
      </button>
    </div>

    <div class="iceewyg-format-group">
      <input #colorPicker type="color" hidden (input)="changeColor($event)" />
      <button>
        <i [style.color]="queryCommandValue('foreColor')" class="material-icons" (click)="openColorPicker()" >format_color_text</i>
      </button>
      <!--FONT SIZE CONTROL START-->
      <div class="menu-container" (mouseleave)="showSizePicker=false" >
        <button class="font-size-trigger" #sizePickerTrigger (click)="showSizePicker = !showSizePicker" >
          <b>Font Size</b>
          <i class="material-icons" [class.hidden]="showSizePicker" >arrow_drop_down</i>
          <i class="material-icons" [class.hidden]="!showSizePicker" >arrow_drop_up</i>
        </button>
        <div class="menu-picker" [hidden]="!showSizePicker" >
          <button (click)="changeSize($event,'<p>')" ><p>Paragraph</p></button>
          <button (click)="changeSize($event,'<h1>')"><h1>Main header</h1></button>
          <button (click)="changeSize($event,'<h2>')"><h2>Sub header</h2></button>
          <button (click)="changeSize($event,'<h3>')"><h3>Title</h3></button>
        </div>
      </div>
      <!--FONT SIZE CONTROL END-->
      <div class="menu-container" (mouseleave)="showStylePicker=false" >
        <button class="font-style-trigger" (click)="showStylePicker = !showStylePicker" >
          <b>{{queryCommandValue('fontName').replace('"','').replace('"','') || 'Font Style'}}</b>
          <i class="material-icons" [class.hidden]="showStylePicker" >arrow_drop_down</i>
          <i class="material-icons" [class.hidden]="!showStylePicker" >arrow_drop_up</i>
        </button>
        <div class="menu-picker" [hidden]="!showStylePicker" >
          <button (click)="changeFontStyle(font)" *ngFor="let font of fontStyles" ><p [style.font-family]="font" >{{font}}</p></button>
        </div>
      </div>
      
    </div>

  </div>
  
  <div #editor 
      class="iceewyg-editor" 
      contenteditable="true"
      (click)="editorClick($event)"
      (input)="broadcastInput($event)"
      [style.min-height]="height"
      [style.width]="width" >
      <p>
        <br>
      </p>
  </div>
</div>

